@use '../../../../styles/abstracts/mixins' as m;

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: var(--header-height);
  background: var(--bg-clr-primary);
  // background: rgba(49, 51, 59, 0.7);
  // backdrop-filter: blur(10px);
  z-index: 2;

  .contentContainer {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      position: fixed;
      top: var(--header-height);
      left: 100%;
      padding: 16px;
      width: 100%;
      display: grid;
      gap: 37px;
      background: var(--bg-clr-primary);
      transition: transform 0.3s;

      &.active {
        transform: translateX(-100%);
      }

      @include m.mq(desktop) {
        position: static;
        padding: 0;
        width: auto;
        display: flex;
        align-items: center;
        background: none;
      }

      .link {
        position: relative;
        font-weight: 700;
        font-size: 32px;
        color: var(--text-clr-2);
        outline: none;
        transition: color 0.3s;
        -webkit-tap-highlight-color: transparent;

        @include m.mq(desktop) {
          padding: 9px 0;
          font-weight: 400;
          font-size: 15px;
          line-height: 145%;
        }

        &:hover,
        &:focus-visible {
          color: var(--accent-clr);

          &::after {
            transform: scaleX(100%);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          background: var(--accent-clr);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s;
        }
      }
    }

    .burgerContainer {
      position: relative;
      width: 24px;
      height: 19px;
      display: grid;
      place-content: center;

      @include m.mq(desktop) {
        display: none;
      }

      .burger {
        width: 24px;
        height: 3px;
        background: var(--accent-clr);
        border-radius: 3px;
        transition: background 0.3s;

        &.active {
          background: transparent;

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 24px;
          height: 3px;
          background: var(--accent-clr);
          border-radius: 3px;
          transition: transform 0.3s;
        }

        &::before {
          transform: translateY(-9px);
        }

        &::after {
          transform: translateY(9px);
        }
      }
    }
  }
}
