$colors: (
  text-primary: #ffffff,
  text-secondary: rgba(255, 255, 255, 0.4),
  background: #1e1e24,
  dark-background: #19191f,
  light-background: #2b2b33,
  separator-primary: #fff,
  separator-secondary: #454552,
  accent-color: #ff5652,
);
